@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: inherit;
}

button {
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background: #212121;
  font-family: 'Roboto', sans-serif;
}

.slider {
  position: relative;
  overflow-x: hidden;

  &__content {
    height: 100vh;
    width: 100%;
    display: flex;
  }

  &__item {
    height: 100%;
    flex: 0 0 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.02);
    cursor: pointer;
    transition: all ease-in-out 0.15s;
    z-index: 9;

    &:hover {
      background: rgba(255, 255, 255, 0.05);
    }

    &--left {
      left: 0;
      &::before {
        content: '';
        border-top: 25px solid rgba(255, 255, 255, 0.1);
        border-right: 25px solid transparent;
        transform: rotate(-45deg);
        transition: all ease-in-out 0.15s;
        margin-right: -10%;
      }

      &:hover::before {
        border-top: 25px solid rgba(255, 255, 255, 0.2);
      }
    }

    &--right {
      right: 0;
      &::before {
        content: '';
        border-top: 25px solid rgba(255, 255, 255, 0.1);
        border-left: 25px solid transparent;
        transform: rotate(45deg);
        transition: all ease-in-out 0.15s;
        margin-left: -10%;
      }

      &:hover::before {
        border-top: 25px solid rgba(255, 255, 255, 0.2);
      }
    }
  }

  &__indicators {
    position: absolute;
    left: 50%;
    bottom: 5%;
    padding: 0 20px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    z-index: 9;
    overflow-y: hidden;
  }

  &__indicator {
    width: 25px;
    height: 3px;
    border-radius: 2px;
    margin: 0 3px;
    background: rgba(255, 255, 255, 0.4);
    transition: all ease-in-out 0.22s;
    cursor: pointer;

    &.active {
      background: rgba(255, 255, 255, 0.95);
      animation: indicatorClick 0.3s ease-in;
    }
  }

  @media (max-width: 425px) {
    & {
      &__arrow {
        display: none;
      }
      &__content {
        height: auto;
      }
    }
  }
}

@keyframes indicatorClick {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.95);
  }

  100% {
    box-shadow: 0 0 50px 100px rgba(255, 255, 255, 0);
  }
}

.collapsible {
  margin: 50px auto;
  background: #f5f5f5;
  color: #212121;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;

  &__header {
    border-bottom: 1px solid #bdbdbd;
    padding: 15px;
    cursor: pointer;
  }

  &__body {
    overflow: hidden;
    height: 0;
    border-bottom: 0px solid #bdbdbd;
    transition: all ease 0.3s;

    &.active {
      border-bottom: 1px solid#bdbdbd;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      span {
        transform: translateY(0);
      }
    }

    span {
      display: block;
      padding: 20px 25px;
      transform: translateY(-30px);
      transition: all ease 0.3s;
    }
  }
}

.dropdown {
  position: relative;
  margin: 50px auto;
  color: #212121;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  width: max-content;

  &__btn {
    background: #455a64;
    color: #f5f5f5;
    padding: 15px 20px;
    transition: all ease 0.22s;

    &:hover {
      background: #53798b;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    min-width: 100%;
    overflow: hidden;
    transition: all ease-out 0.22s;
  }

  li {
    padding: 10px 20px;
    cursor: pointer;
    background: #f5f5f5;
    transform: translateY(-30px);
    transition: all ease-out 0.22s;

    &:hover {
      background: #cfd8dc;
    }
  }

  &.active {
    li {
      transform: translateY(0);
    }
  }
}

.tap {
  margin: 50px auto;
  width: max-content;

  &__btn {
    @extend .dropdown__btn;
  }

  &__target {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #455a64;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eeeeee;
    z-index: 9;
    transition: all ease 0.22s;
  }

  &__content {
    position: fixed;
    right: 0;
    bottom: 0;
    background: rgba(69, 90, 100, 0.9);
    color: #eeeeee;
    font-weight: 300;
    border-radius: 37% 63% 0% 100% / 64% 52% 48% 36%;
    overflow: hidden;
    width: 500px;
    max-width: 98vw;
    padding: 50px 100px 70px 50px;
    z-index: 8;
    transform-origin: right bottom;
    transform: scale(0);
    transition: all ease 0.22s;

    h1 {
      font-size: 25px;
      margin: 0 0 20px 20px;
    }
  }

  &.active {
    .tap__content {
      transform: scale(1);
    }
    .tap__target {
      bottom: 40px;
      right: 40px;
      box-shadow: 0 0 0 20px rgba(238, 238, 238, 0.9);
      animation: pulse 1s ease infinite;
    }
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 15px rgba(238, 238, 238, 0.9),
      0 0 0 15px rgba(238, 238, 238, 0.9);
  }
  50% {
    box-shadow: 0 0 0 15px rgba(238, 238, 238, 0.9),
      0 0 0 15px rgba(238, 238, 238, 0.9);
  }

  100% {
    box-shadow: 0 0 0 15px rgba(238, 238, 238, 0.9),
      0 0 0 40px rgba(238, 238, 238, 0);
  }
}

.content-img {
  margin: 50px 0;
  display: flex;
  justify-content: center;
}

.boxed {
  display: block;
  width: max-content;
  max-width: 100%;
  height: 70vh;
  object-fit: contain;
  background: rgba(0, 0, 0, 0);
  cursor: zoom-in;
  transition: all ease 0.22s;
  @media (max-width: 425px) {
    & {
      height: auto;
    }

    &.active {
      position: sticky;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.8);
      cursor: zoom-out;
      z-index: 10;
    }
  }
}

.modal {
  position: fixed;
  left: 0;
  top: -100%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 11;
  background: rgba(0, 0, 0, 0);
  transition: background 0.22s ease;

  &__container {
    @media (max-width: 425px) {
      & {
        width: 90vw;
      }
    }
    width: 40vw;
    height: auto;
    max-height: 90vh;
    z-index: 2;
    background: #f5f5f5;
    padding: 20px;
    color: #212121;
    transform: translateY(-20vh) scale(0.5);
    opacity: 0;
    transition: all 0.22s ease;
  }

  &__btn {
    @extend .dropdown__btn;
    display: block;
    margin: 50px auto;
  }

  &__content {
    h1 {
      margin-bottom: 15px;
      font-size: 22px;
    }
  }

  &__footer {
    margin-top: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: end;

    a {
      margin-left: 20px;
      transition: all 0.22s ease;
      cursor: pointer;

      &:hover {
        color: #616161;
      }
    }
  }

  &.active {
    background: rgba(0, 0, 0, 0.8);

    .modal__container {
      transform: translateY(0px) scale(1);
      opacity: 1;
    }
  }
}

.pushpin {
  &__container {
    position: relative;
    color: #f5f5f5;

    &--pink {
      .pushpin__navbar {
        background: #f06292;
      }
      .pushpin__content {
        background: #ec407a;
      }
    }
    &--blue {
      .pushpin__navbar {
        background: #4fc3f7;
      }
      .pushpin__content {
        background: #29b6f6;
      }
    }
    &--teal {
      .pushpin__navbar {
        background: #4db6ac;
      }
      .pushpin__content {
        background: #26a69a;
      }
    }
  }

  &__navbar {
    position: sticky;
    left: 0;
    top: 0;
    padding: 0 10%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    z-index: 2;

    p {
      padding: 15px;
    }
  }

  &__content {
    p {
      padding: 20px;
      font-weight: 300;
    }
  }
}

.content-table {
  position: fixed;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
  background: rgba(33, 33, 33, 0.4);
  padding: 10px 0;
  border-radius: 10px;

  a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    color: #9e9e9e;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.22s ease;
    border-left: 1px solid transparent;

    &:hover {
      color: #e0e0e0;
      border-left: 1px solid #455a64;
    }

    &.active {
      color: #e0e0e0;
      font-weight: 400;
      border-left: 2px solid #455a64;
    }
  }
}

.sidenav {
  position: fixed;
  left: 0;
  top: -100%;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 11;
  background: rgba(0, 0, 0, 0);
  transition: background 0.22s ease;

  &__btn {
    @extend .dropdown__btn;
    display: block;
    margin: 50px auto;
  }

  &__header {
    background: url('https://images.unsplash.com/photo-1593642533144-3d62aa4783ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80')
      no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;

    img {
      width: 70px;
      height: 70px;
      object-fit: cover;
      object-position: top;
      border-radius: 50%;
    }

    p {
      padding: 3px 0;
    }
  }

  &__container {
    @media (max-width: 425px) {
      & {
        width: 90vw;
      }
    }
    width: 30vw;
    height: 100vh;
    background: #f5f5f5;
    color: #212121;
    transform: translateX(-100%);
    transition: all 0.22s ease;
  }

  &__content {
    li {
      padding: 10px 20px;
      cursor: pointer;
      transition: all 0.22s ease;

      &:hover {
        background: #e0e0e0;
      }
    }
  }

  &.active {
    background: rgba(0, 0, 0, 0.8);

    .sidenav__container {
      transform: translateX(0);
    }
  }
}

.tabs {
  margin: 50px auto;
  max-width: 800px;
  overflow: hidden;
  color: #212121;

  &__nav {
    position: relative;
    display: flex;
    background: #e0e0e0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);

    li {
      padding: 15px;
      border-bottom: 2px solid transparent;
      cursor: pointer;
      transition: all 0.22s ease;

      &:hover {
        background: #bdbdbd;
      }

      &.active {
        border-bottom: 2px solid #455a64;
      }
    }
  }
  &__container {
    background: #e0e0e0;
    display: flex;
  }
  &__content {
    flex: 0 0 100%;
    padding: 20px;

    h1 {
      font-size: 20px;
      margin-bottom: 15px;
    }
  }
}

.toast {
  position: fixed;
  right: 50px;
  top: 50px;
  z-index: 10;

  &__btn {
    @extend .dropdown__btn;
    display: block;
    margin: 50px auto;
  }

  &__content {
    background: #e0e0e0;
    color: #212121;
    border-radius: 30px;
    padding: 5px 20px;
    margin-bottom: 10px;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.22s ease;

    &.active {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @media (max-width: 425px) {
    & {
      right: 20px;
      top: 50px;
    }
    &__content {
      padding: 10px 20px;
    }
  }
}

.tooltip {
  @extend .toast__btn;
  position: relative;

  &::before {
    content: 'I am tooltip!';
    background: #e0e0e0;
    color: #212121;
    padding: 5px 10px;
    position: absolute;
    left: 0;
    top: 80%;
    opacity: 0;
    z-index: -1;
    transition: all 0.22s ease;
  }
  &:hover::before {
    top: 110%;
    opacity: 1;
  }
}

.wave {
  position: relative;
  overflow: hidden;
}
.effect {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  animation: waves 0.4s ease-out;
}

@keyframes waves {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }
  80% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

.paralax {
  position: relative;
  height: 300px;
  width: 100%;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
  }
}

@media (max-width: 425px) {
  .paralax {
    height: 150px;
  }
}
